{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Password Changed</title>

    <link rel="stylesheet"
          href="{% static 'accounts/css/style.css' %}">
</head>

<body>

    <div class="auth-card">

        <h1>Password Changed!</h1>

        <p class="auth-subtitle">
            Your password has been successfully changed.
            You can now log in with your new password.
        </p>

        <a href="{% url 'login' %}" class="home-button">
            Login
        </a>

        <a href="{% url 'home' %}" class="home-button">
            Home
        </a>

    </div>

</body>
</html>